In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([7, "Hello world", 42.42])
print(f'Series with default index:\n{s}\n')

Series with default index:
0              7
1    Hello world
2          42.42
dtype: object

In [4]:
s[1]

'Hello world'

In [7]:
series_with_index = pd.Series([7, "Hello world", 42.42], index=["A", "B", "C"])
print(f'Series with custom index:\n{series_with_index}\n')
series_with_index.iloc[2]

Series with custom index:
A              7
B    Hello world
C          42.42
dtype: object

42.42

In [8]:
d = {"one":1, "two":2, "three":3}
sereies_from_dict = pd.Series(d)
print(f'Series from dictionary:\n{sereies_from_dict}\n')
sereies_from_dict["two"]

Series from dictionary:
one      1
two      2
three    3
dtype: int64

2

In [10]:
dd = {"New York":290, "Los Angeles":260, "Chicago":170, "Houston":150, "Las Vegas":620, "Phoenix":None}
cities = pd.Series(dd)
print(f'Cities Series:\n{cities}\n')

Cities Series:
New York       290.0
Los Angeles    260.0
Chicago        170.0
Houston        150.0
Las Vegas      620.0
Phoenix          NaN
dtype: float64

In [12]:
c = cities[["New York", "Chicago", "Las Vegas"]]
print(c)
type(c)

New York     290.0
Chicago      170.0
Las Vegas    620.0
dtype: float64

pandas.core.series.Series

In [13]:
cc = cities[cities > 200]
print(cc)

New York       290.0
Los Angeles    260.0
Las Vegas      620.0
dtype: float64

In [14]:
cities > 200

New York        True
Los Angeles     True
Chicago        False
Houston        False
Las Vegas       True
Phoenix        False
dtype: bool

In [15]:
s1 = pd.Series(["1", 2, 3], index=["A", "B", "C"])
s2 = pd.Series(["25", 5, 6], index=["A", "D", "C"])
print(f's1:\n{s1}\n')
print(f's2:\n{s2}\n')
print(f's1 + s2:\n{s1 + s2}\n')

s1:
A    1
B    2
C    3
dtype: object

s2:
A    25
D     5
C     6
dtype: object

s1 + s2:
A    125
B    NaN
C      9
D    NaN
dtype: object

In [16]:
notnull = cities.notnull()
print(f'Not null values in cities Series:\n{notnull}\n')

isnull = cities.isnull()    
print(f'Null values in cities Series:\n{isnull}\n')

Not null values in cities Series:
New York        True
Los Angeles     True
Chicago         True
Houston         True
Las Vegas       True
Phoenix        False
dtype: bool

Null values in cities Series:
New York       False
Los Angeles    False
Chicago        False
Houston        False
Las Vegas      False
Phoenix         True
dtype: bool

## DataFrame

A DataFrame is a tabular data structure made of rows and columns. It can be thought of as a group of Series objects that share an index (the columns' name).

In [17]:
data = {'letters': ['A', 'B', 'C', 'D', 'E'],
        'numbers': [1, 2, 3, 4, 5], 
        'spelling': ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Echo']}

lett_num_df = pd.DataFrame(data, columns=['letters', 'numbers', 'spelling'])
lett_num_df

  letters  numbers spelling
0       A        1    Alpha
1       B        2    Bravo
2       C        3  Charlie
3       D        4    Delta
4       E        5     Echo